body{

font-family: Arial;
margin:0;
background:#f4f6f9;

}


header{

background:#003366;
color:white;
padding:20px;
text-align:center;

}


nav a{

color:white;
margin:15px;
text-decoration:none;

}



.hero{

padding:80px;
text-align:center;
background:white;

}


button{

background:#003366;
color:white;
padding:15px;
border:none;
border-radius:5px;

}



form{

background:white;
padding:30px;
margin:30px;
border-radius:10px;

}



input,textarea,select{

width:100%;
padding:12px;
margin:10px;

}



.card{

background:white;
margin:20px;
padding:20px;
border-radius:10px;

}



footer{

background:#003366;
color:white;
padding:20px;
text-align:center;

}